@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model IEnumerable<QuickNotes.Models.Note>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QuickNotes</title>
</head>
<body>
    <h1>QuickNotes</h1>
    <p><input type="button" value="Create New Note" onclick="location.href='@Url.Action("Note", "QuickNotes")'" /></p>

    <p>
        <div class="notes-list">
            @foreach (var note in Model)
            {
                @await Html.PartialAsync("_NoteListEntry", note)
            }
        </div>
    </p>
</body>
</html>
