
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>What's up</title>
</head>
<body>
    <h1>Gone Hard Online</h1>
    <p>What's up dude this is my dope ass website. Click <a href="@Url.Action("Index", "QuickNotes")" title="QuickNotes">here</a> to go to QuickNotes, bitch.</p>
</body>
</html>
